#
# config file for the UAS regression tests
#

# USE configuration file
$include.CONTAINER src/test/resources/container.properties


# TSI to use
coreServices.targetsystemfactory.tsiMode=embedded

# include XNJS/TSI properties
$include.XNJS src/test/resources/xnjs.properties

# site name
container.sitename=UNITTEST


# define startup task(s) 
container.onstartup=de.fzj.unicore.uas.util.DefaultOnStartup

coreServices.sms.enabledFactories=S3 SWIFT

#
# S3 storage backend
#
coreServices.sms.factory.S3.class=eu.unicore.uas.jclouds.s3.S3StorageImpl
coreServices.sms.factory.S3.path=/
coreServices.sms.factory.S3.type=CUSTOM
coreServices.sms.factory.S3.infoProviderClass=eu.unicore.uas.jclouds.s3.S3InfoProvider
coreServices.sms.factory.S3.description=S3 storage factory
coreServices.sms.factory.S3.settings.provider=transient
coreServices.sms.factory.S3.settings.accessKey=site-default-accesskey
coreServices.sms.factory.S3.settings.secretKey=site-default-secretkey
coreServices.sms.factory.S3.settings.endpoint=in-memory
coreServices.sms.factory.S3.settings.allowUserDefinedEndpoint=false
