#
# Testing UFTP server cluster
#

coreServices.uftp.1.server.host=localhost
coreServices.uftp.1.server.port=62434
coreServices.uftp.1.command.host=localhost
coreServices.uftp.1.command.port=62435
coreServices.uftp.1.command.sslDisable=true

coreServices.uftp.2.server.host=localhost
coreServices.uftp.2.server.port=62436
coreServices.uftp.2.command.host=localhost
coreServices.uftp.2.command.port=62437
coreServices.uftp.2.command.sslDisable=true


# USE configuration file
$include.CONTAINER src/test/resources/container.properties

# TSI to use
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=eu.unicore.uas.xnjs.MyLocalTSIModule

# include XNJS/TSI properties
$include.XNJS src/test/resources/xnjs.properties

# site name
container.sitename=XNJS_TEST_127.0.0.1

#
# additional storage attached to TSS
#

# TEMP
coreServices.targetsystem.storage.0.name=TEMP
coreServices.targetsystem.storage.0.type=FIXEDPATH
coreServices.targetsystem.storage.0.path=target/unicorex-test
coreServices.targetsystem.storage.0.filterFiles=true

#
# Shared storage config
#
coreServices.sms.storage.enabledStorages=WORK

coreServices.sms.storage.WORK.name=WORK
coreServices.sms.storage.WORK.type=FIXEDPATH
coreServices.sms.storage.WORK.path=target/unicorex-test
coreServices.sms.storage.WORK.description=Shared WORK

#
# StorageFactory config
#
coreServices.sms.enabledFactories=DEFAULT TEST CDMI

# define default storage backend
coreServices.sms.factory.DEFAULT.type=FIXEDPATH
coreServices.sms.factory.DEFAULT.path=target/unicorex-test
coreServices.sms.factory.DEFAULT.description=Default storage type

#
# Metadata manager
#
coreServices.metadata.managerClass=eu.unicore.uas.util.MockMetadataManager

container.security.rest.jwt.hmacSecret=whfkjshdfkjshdkfjhsdkjfhsdkjfhskdfhskdjfhksdjhfksjdhfksjdhfkjqhef834r38483488348843843

#
# Authentication / authorisation
#
container.security.accesscontrol=false
container.security.accesscontrol.pdp=eu.unicore.services.security.pdp.AcceptingPdp

container.security.rest.authentication.order=FILE
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=src/test/resources/rest-users.txt

container.security.attributes.order=FILE
container.security.attributes.FILE.class=eu.unicore.uas.security.file.FileAttributeSource
container.security.attributes.FILE.file=src/test/resources/user-mapfile.json
container.security.attributes.FILE.matching=strict
