
# USE configuration file
$include.CONTAINER src/test/resources/container.properties

# TSI to use
coreServices.targetsystemfactory.tsiMode=custom
coreServices.targetsystemfactory.tsiCustomModeModuleClass=de.fzj.unicore.uas.xnjs.MyLocalTSIModule

# include XNJS/TSI properties
$include.XNJS src/test/resources/xnjs.properties

# site name
container.sitename=XNJS_TEST_127.0.0.1

# define startup task(s) 
container.onstartup=de.fzj.unicore.uas.util.DefaultOnStartup

#
# additional storage attached to TSS
#

# TEMP
coreServices.targetsystem.storage.0.name=TEMP
coreServices.targetsystem.storage.0.type=FIXEDPATH
coreServices.targetsystem.storage.0.path=target/unicorex-test
coreServices.targetsystem.storage.0.filterFiles=true

#
# Shared storage config
#
coreServices.sms.storage.enabledStorages=WORK

coreServices.sms.storage.WORK.name=WORK
coreServices.sms.storage.WORK.type=FIXEDPATH
coreServices.sms.storage.WORK.path=target/unicorex-test
coreServices.sms.storage.WORK.description=Shared WORK

#
# StorageFactory config
#
coreServices.sms.enabledFactories=DEFAULT TEST CDMI

# define default storage backend
coreServices.sms.factory.DEFAULT.type=FIXEDPATH
coreServices.sms.factory.DEFAULT.path=target/unicorex-test
coreServices.sms.factory.DEFAULT.description=Default storage type

# define custom storage backend
coreServices.sms.factory.TEST.class=de.fzj.unicore.uas.impl.sms.FixedStorageImpl
coreServices.sms.factory.TEST.path=target/unicorex-test/smf-TEST
coreServices.sms.factory.TEST.type=FIXEDPATH
coreServices.sms.factory.TEST.infoProviderClass=de.fzj.unicore.uas.impl.sms.DefaultStorageInfoProvider
coreServices.sms.factory.TEST.description=Custom StorageFactory type

# CDMI - currently only tested via functional test 
coreServices.sms.factory.CDMI.class=de.fzj.unicore.uas.cdmi.CDMIStorageImpl
coreServices.sms.factory.CDMI.path=/cdmi-test123
coreServices.sms.factory.CDMI.type=CUSTOM
coreServices.sms.factory.CDMI.infoProviderClass=de.fzj.unicore.uas.cdmi.CDMIInfoProvider
coreServices.sms.factory.CDMI.description=CDMI backend
coreServices.sms.factory.CDMI.cleanup=true
coreServices.sms.factory.CDMI.settings.allowUserDefinedEndpoint=true

#
# Metadata manager
#
coreServices.metadata.managerClass=de.fzj.unicore.uas.util.MockMetadataManager

container.security.rest.jwt.hmacSecret=whfkjshdfkjshdkfjhsdkjfhsdkjfhskdfhskdjfhksdjhfksjdhfksjdhfkjqhef834r38483488348843843

#
# Authentication / authorisation
#
container.security.accesscontrol=false
container.security.accesscontrol.pdp=de.fzj.unicore.wsrflite.security.pdp.AcceptingPdp

container.security.rest.authentication.order=FILE
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=src/test/resources/rest-users.txt

container.security.attributes.order=FILE
container.security.attributes.FILE.class=eu.unicore.uas.security.file.FileAttributeSource
container.security.attributes.FILE.file=src/test/resources/simpleuudb
container.security.attributes.FILE.matching=strict
