####################################
# SAML Attribute Query configuration
####################################

# Full URL of SAML Attribute query service.
# Note that this server's CA cert must be present in UNICORE/X truststore.
saml.attributeQueryURL=SET-ME

# if Unity does not accept x509 certificate authentication,
# you may need to setup username/password authentication
#saml.attributeQuery.username=
#saml.attributeQuery.password=

# REQUIRED, must be this server's URI used to identify
# this server to the SAML service
saml.localServerURI=SET-ME

# VO or group which is accepted by this attribute source. Server will honor
#  only attributes with exactly this scope or global (i.e. without scope set)
saml.group=SET-ME

# Additional security (except for the transport level, which is always on)
# can be achieved by verification of signatures (using the saml.truststore.*)
saml.verifySignatures=false

# Truststore for verifying signatures with the certificate (not CA certificates!)
# of trusted SAML service(s). It is used when signature verification is enabled.
saml.truststore.type=directory
saml.truststore.directoryLocations.1=SET-ME

# Caching time of pulled attributes (in seconds). Use negative value to turn off the cache.  
saml.cacheTtl=300


# This group of settings defines the mapping of SAML attributes to UNICORE attributes.
# If you use Unity and its standard attributes you don't have to change these. 
saml.unicoreAttribute.xlogin=urn:unicore:attrType:xlogin
saml.unicoreAttribute.xlogin.default=urn:unicore:attrType:defaultXlogin
saml.unicoreAttribute.role=urn:unicore:attrType:role
saml.unicoreAttribute.role.default=urn:unicore:attrType:defaultRole
saml.unicoreAttribute.group=urn:unicore:attrType:primaryGid
saml.unicoreAttribute.group.default=urn:unicore:attrType:defaultPrimaryGid
saml.unicoreAttribute.supplementaryGroups=urn:unicore:attrType:supplementaryGids
saml.unicoreAttribute.supplementaryGroups.default=urn:unicore:attrType:defaultSupplementaryGids
saml.unicoreAttribute.addDefaultGroups=urn:unicore:attrType:addDefaultGroups
saml.unicoreAttribute.queue=urn:unicore:attrType:queue
saml.unicoreAttribute.queue.default=urn:unicore:attrType:defaultQueue
saml.unicoreAttribute.virtualOrganisations=urn:SAML:voprofile:group

# keep all attributes, not only the standard UNICORE ones? Usually not needed
saml.enableGenericAttributes=false
