##
##  Configuration file for the UNICORE/X server
##
##
##  Note: changing these properties often requires a
##        restart of the server. 
##
##  For more information, visit http://www.unicore.eu/documentation



##########################################################################
################## General settings ######################################
##########################################################################

#
# USE configuration file
# (contains server settings, SSL setup, ...)
#
$include.CONTAINER @etc@/container.properties

#
# XNJS / TSI mode
#
# remote  : uses the UNICORE TSI server
# local   : uses local execution
#
coreServices.targetsystemfactory.tsiMode=remote

# XNJS/TSI config
$include.XNJS @etc@/xnjs.properties


#
# VSite name
# 
container.sitename=DEFAULT-SITE

##########################################################################
################## Registry settings #####################################
##########################################################################

#
# publish entries in an external registry?
#
container.externalregistry.use=false

# Registry URL
container.externalregistry.url=https://localhost:8080/DEFAULT-REGISTRY/services/Registry?res=default_registry
# additional url:
#container.externalregistry.url.2=....

##########################################################################
################## Startup behaviour #####################################
##########################################################################

#
# Gateway registration settings
#
# set to "true" to enable auto-registration
container.security.gateway.registration=false
# interval in seconds for refreshing the registration 
container.security.gateway.registrationUpdateInterval=60

#
# check and wait for gateway on startup?
#
container.security.gateway.waitOnStartup=true
# maximum wait time in seconds
container.security.gateway.waitTime=180

#
# startup code to be executed
#
# NOTES:
# 
# -) the 'de.fzj.unicore.uas.util.DefaultOnStartup' creates a default
#    targetsystem factory
#
container.onstartup=de.fzj.unicore.uas.util.DefaultOnStartup


##########################################################################
################## Security and authorisation ############################
##########################################################################

#
# enable access control / authorisation
#
container.security.accesscontrol=true

#
# the XACML config file which contains the list of security policy files
#
container.security.accesscontrol.pdpConfig=@etc@/xacml2.config
#
# the XACML PDP implementation class
#
container.security.accesscontrol.pdp=eu.unicore.uas.pdp.local.LocalHerasafPDP

#
# Verify the signature of the SAML assertions issued by the gateway
#
# If your UNICORE/X server is accessible from the "outside", you should
# set this to "true", and configure the gateway to sign its assertions
# Otherwise, a smart user could pretend to be somebody else by adding
# fake unsigned assertions to his messages
# 
container.security.gateway.checkSignature=true


# If container.security.gateway.checkSignature=true then the gateway certificate
# for checking signatures is needed. It can be obtained either automatically
# or the certificate (in PEM or DER format) can be defined using 
#the following property:
#container.security.gateway.certificate=

#
# Authorisation attribute source configuration
# 
# UNICORE maps the identity of the Grid user (e.g. 
# her certificate or distinguished name) to attributes
# (like xlogin or role).
#
# This property is a space separated list of attribute 
# source names, which are then configured in detail below.
# The named attribute sources are queried in the given order.
#
container.security.attributes.order=FILE

#
# Combining policy
#
# If using more than one attribute source, this property controls
# how the results are combined. Valid values are
# MERGE_LAST_OVERRIDES : (default) all attributes sources are used, 
#                        with later results overwriting previous ones
# FIRST_APPLICABLE     : the first non-empty result is used
# FIRST_ACCESSIBLE     : the first obtained result is used (even if empty)
# MERGE                : attributes are merged
container.security.attributes.combiningPolicy=MERGE_LAST_OVERRIDES

#
# configuration of the 'FILE' attribute source
#
container.security.attributes.FILE.class=eu.unicore.uas.security.file.FileAttributeSource
# path to the mapfile
container.security.attributes.FILE.file=@etc@/simpleuudb
# how to match entries: strict or regexp
container.security.attributes.FILE.matching=strict


#
# configuration of the 'XUUDB' attribute source
#
container.security.attributes.XUUDB.class=eu.unicore.uas.security.xuudb.XUUDBAuthoriser
container.security.attributes.XUUDB.xuudbHost=https://localhost
container.security.attributes.XUUDB.xuudbPort=34463
# Grid component ID used when querying XUUDB
container.security.attributes.XUUDB.xuudbGCID=DEFAULT
#
# configuration of the 'VO-PULL' attribute source
#
container.security.attributes.VO-PULL.class=eu.unicore.uas.security.vo.SAMLPullAuthoriser
container.security.attributes.VO-PULL.configurationFilei=@etc@/vo.config
#
# configuration of the 'VO-PUSH' attribute source
#
container.security.attributes.VO-PUSH.class=eu.unicore.uas.security.vo.SAMLPushAuthoriser
container.security.attributes.VO-PUSH.configurationFile=@etc@/vo.config


#########################################################################
################## REST user authentication #############################
#########################################################################

# Configured authenticators and their order
container.security.rest.authentication.order=FILE

# Username/password file
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=@etc@/rest-users.txt

# Unity with username/password
#container.security.rest.authentication.UNITY.class=eu.unicore.services.rest.security.UnitySAMLAuthenticator
#container.security.rest.authentication.UNITY.address=https://localhost:2443/unicore-soapidp/saml2unicoreidp-soap/AuthenticationService
#container.security.rest.authentication.UNITY.validate=true

# Unity with OIDC
#container.security.rest.authentication.UNITY-OIDC.class=eu.unicore.services.rest.security.UnityOAuthAuthenticator
#container.security.rest.authentication.UNITY-OIDC.address=https://localhost:2443/unicore-soapidp-oidc/saml2unicoreidp-soap/AuthenticationService
#container.security.rest.authentication.UNITY-OIDC.validate=true


#########################################################################
################## Storages for target systems ##########################
#########################################################################

# Home Storage (these are minimal config options, see manual for info)
coreServices.targetsystem.storage.0.name=Home
coreServices.targetsystem.storage.0.type=HOME
#coreServices.targetsystem.storage.0.protocols=BFT

# Example storage
#coreServices.targetsystem.storage.1.name=TEMP
#coreServices.targetsystem.storage.1.type=VARIABLE
#coreServices.targetsystem.storage.1.path=/work/$USER


#########################################################################
################### StorageFactory service configuration ################
#########################################################################

#
# Enabled storage factory types
# If not set, all factory types configured below will be enabled
#
coreServices.sms.enabledFactories=DEFAULT

#
# Configuration for the "DEFAULT" storage type
# 
coreServices.sms.factory.DEFAULT.description=Default filesystem

# base path. Denotes an absolute path on the TSI machine / cluster filesystem
coreServices.sms.factory.DEFAULT.path=@storageFactoryPath@

# if this is set to true, the directory corresponding to a storage instance will
# be deleted when the instance is destroyed.
# Defaults to "true"
coreServices.sms.factory.DEFAULT.cleanup=true

#
# example: custom SMS type created by the Storage Factory
#
#coreServices.sms.factory.EXAMPLE.type=CUSTOM
#coreServices.sms.factory.EXAMPLE.class=de.fzj.unicore.uas.hadoop.SMSHadoopImpl
#coreServices.sms.factory.EXAMPLE.description=Hadoop cluster

#########################################################################
################### Metadata ############################################
#########################################################################
coreServices.metadata.managerClass=eu.unicore.uas.metadata.LuceneMetadataManager

#
# use Tika for extracting metadata 
# (if you do not want this, remove this property)
#
coreServices.metadata.parserClass=org.apache.tika.parser.AutoDetectParser

#
# Lucene index directory:
#
# Configure a directory on the UNICORE/X machine where index
# files should be placed
#
coreServices.metadata.luceneDirectory=@data@/luceneIndexFiles/


#########################################################################
################### Miscellaneous #######################################
#########################################################################

#########################################################################
##################### UFTP Properties ###################################
#########################################################################

# remember to add 'UFTP' to the protocols listed above

# Listener (pseudo-FTP) host and port
# NOTE: if the 'host' property is not set, UFTP is disabled
#coreServices.uftp.server.host=SETME-UFTP_SERVER_HOST
#coreServices.uftp.server.port=SETME-UFTP_SERVER_PORT

# Command socket
#coreServices.uftp.command.host=localhost
#coreServices.uftp.command.port=64435

# Full path to the 'uftp.sh' client executable (on the TSI server)
#coreServices.uftp.client.executable=/opt/uftpd/bin/uftp.sh

# How many parallel streams to use per file transfer
#coreServices.uftp.streams=1

##########################################################################
################## (internal) Workflow service configuration #############
##########################################################################

#
# enable/disable the internal workflow engine
# set to 'false' to disable
container.feature.WorkflowEngine.enable=true

#
# use separate config
#
workflow.additionalSettings=@etc@/workflow.properties
