# ##########################
# General configuration
# ##########################

# VO or group which is accepted by this attribute source. Server will honor
#  only attributes with exactly this scope or global (i.e. without scope set).
vo.group=SET-ME

# Specify a truststore with certificates (NOT the corresponding CA certificates!)
#  of trusted VO services. NEVER use the SSL truststore of UNICORE/X 
#  for this purpose as it effectively turns off the whole authorization! 
#  It is used when signature verification is enabled.
vo.truststore=@etc@votruststore.jks
vo.truststoreType=JKS
vo.truststorePass=the!server

# It is REQUIRED if pull mode is enabled, and must be this server's URI used to identify 
#  to the VO service. In push mode it is used as this server actor's name (note that 
#  assertions in WS security element with no actor set are also accepted).
vo.localServerURI=https://SET-HOSTNAME:SET-PORT/SET-VSITENAME

# This group of settings defines mapping of SAML attributes to UNICORE incarnation attributes.
# If you use UVOS and standard attributes there you don't have to change them. 
# See documentation for details.
vo.unicoreAttribute.xlogin=urn:unicore:attrType:xlogin
vo.unicoreAttribute.xlogin.default=urn:unicore:attrType:defaultXlogin
vo.unicoreAttribute.role=urn:unicore:attrType:role
vo.unicoreAttribute.role.default=urn:unicore:attrType:defaultRole
vo.unicoreAttribute.group=urn:unicore:attrType:primaryGid
vo.unicoreAttribute.group.default=urn:unicore:attrType:defaultPrimaryGid
vo.unicoreAttribute.supplementaryGroups=urn:unicore:attrType:supplementaryGids
vo.unicoreAttribute.supplementaryGroups.default=urn:unicore:attrType:defaultSupplementaryGids
vo.unicoreAttribute.addDefaultGroups=urn:unicore:attrType:addDefaultGroups
vo.unicoreAttribute.queue=urn:unicore:attrType:queue
vo.unicoreAttribute.queue.default=urn:unicore:attrType:defaultQueue
vo.unicoreAttribute.virtualOrganisations=urn:SAML:voprofile:group



# ##########################
# PULL mode configuration
# ##########################

# Enable this mode? Usually you can leave it at 'true' and control 
#  whether the mode is enabled by using (or not) the respective
#  attribute source in unicorex.config.
vo.pull.enable=true

vo.pull.enableGenericAttributes=true

# Address, port and path of SAML VO service.
#  This server's CA cert must be present in UNICORE/X truststore.
vo.pull.voServerURL=SETME-VOSERVERURL

# Additional security (except transport level which is always on) can be achieved by
#  verification of signatures. The key which is used for verification must be present
#  in vo.truststore (see above) and have an alias defined below. Default is true.
vo.pull.verifySignatures=false
#vo.pull.verifySignatures.alias=SET-ME

# If you enable trust delegation support then attributes will be pulled on the behalf 
#  of the caller (of course if he/she delegated his/her trust to this service). This 
#  is useful as then there is no need to add this server's identity to the VO service
#  and assign read permissions to it (by default everybody can read her/his own data).
vo.pull.enableTrustDelegation=true

# Whether pull mode should be skipped if user sent (or pushed) some attributes with the request.
#  Note that to make this feature work PUSH mode must be enabled AND PULL authorizer must 
#  be invoked AFTER the PUSH authorizer.
vo.pull.disableIfAttributesWerePushed=true

# Caching time of pulled attributes (in seconds). Use negative value to turn off the cache.  
vo.pull.cacheTtl=600
