#
# config file for the UNICORE/X server
#
# FOR USING THE UNICORE/X SERVER AS A SHARED REGISTRY
#

##########################################################################
################## General settings ######################################
##########################################################################

container.sitename=DEFAULT-REGISTRY

container.baseurl=https://localhost:7778/services
container.host=localhost
container.port=7778

container.security.sslEnabled=true

container.security.credential.path=@credentialPath@
container.security.credential.password=@credentialPassword@
container.security.credential.format=@credentialFormat@
container.security.truststore.type=directory
container.security.truststore.directoryLocations.1=@truststorePath@

container.client.serverHostnameChecking=NONE

container.httpServer.maxIdleTime=30000
container.httpServer.lowResourceMaxIdleTime=10000
container.httpServer.maxThreads=255
container.httpServer.highLoadConnections=40
container.httpServer.requireClientAuthn=true

container.wsrf.lifetime.default=86400
container.wsrf.sg.defaulttermtime=1800


persistence.directory=@data@


##########################################################################
################## Registry settings #####################################
##########################################################################

container.feature.Registry.mode=shared


##########################################################################
################## Startup behaviour #####################################
##########################################################################

#
# Gateway registration settings
#
# set to "true" to enable auto-registration
container.security.gateway.registration=false

# interval in seconds for refreshing the registration 
container.security.gateway.registrationUpdateInterval=60

#
# check and wait for gateway on startup?
# (wait at most two minutes)
container.security.gateway.waitOnStartup=false

##########################################################################
################## Security and authorisation#############################
##########################################################################

#
# access control / authorisation
#
container.security.accesscontrol=true
container.security.accesscontrol.pdpConfig=@etc@/xacml2.config
container.security.accesscontrol.pdp=eu.unicore.uas.pdp.local.LocalHerasafPDP

#
# enable access control on the Registry
#
container.security.accesscontrol.Registry=true

#
# Require signatures for important messages
# 
container.security.signatures=true

# Verify the signature of the SAML assertions issued by the gateway
#
# If your UNICORE/X server is accessible from the "outside", you should
# set this to "true", and configure the gateway to sign its assertions
# Otherwise, a smart user could pretend to be somebody else by adding
# fake unsigned assertions to his messages
# 
container.security.gateway.checkSignature=true

# If container.security.gateway.checkSignature=true then gateway certificate
# for checking signatures is needed. It can be obtained either automatically
# if container.security.gateway.waitOnStartup=true by checking the gw's address, or the certificate 
# can be placed in the file (pem/der) which path should be entered in the
# following property:
#container.security.gateway.certificate=

container.security.gateway.waitOnStartup=true

#
# Authorisation attribute source configuration
# 
# UNICORE maps the identity of the Grid user (e.g. 
# her certificate or distinguished name) to attributes
# (like xlogin or role).
#
# This property is a space separated list of attribute 
# source names, which are then configured in detail below.
# The named attribute sources are queried in the given order.
#
container.security.attributes.order=FILE

#
# Combining policy
#
# If using more than one attribute source, this property controls
# how the results are combined. Valid values are
# MERGE_LAST_OVERRIDES : (default) all attributes sources are used, 
#                        with later results overwriting previous ones
# FIRST_APPLICABLE     : the first non-empty result is used
# FIRST_ACCESSIBLE     : the first obtained result is used (even if empty)
# MERGE                : attributes are merged
container.security.attributes.combiningPolicy=MERGE_LAST_OVERRIDES


#
# configuration of the 'FILE' attribute source
#
container.security.attributes.FILE.class=eu.unicore.uas.security.file.FileAttributeSource
# path to the mapfile
container.security.attributes.FILE.file=@etc@/simpleuudb
# how to match entries: strict or regexp
container.security.attributes.FILE.matching=strict


#
# configuration of the 'XUUDB' attribute source
#
#container.security.attributes.XUUDB.class=eu.unicore.uas.security.xuudb.XUUDBAuthoriser
#container.security.attributes.XUUDB.xuudbHost=https://localhost
#container.security.attributes.XUUDB.xuudbPort=34463
# Grid component ID used when querying XUUDB
#container.security.attributes.XUUDB.xuudbGCID=DEFAULT
