   ------
UNICORE/X
   ------
   
Introduction: UNICORE/X

  The UNICORE/X server is the central component of a UNICORE site.
It hosts the services such as job submission, job management, 
storage access, and provides the bridge to the functionality 
of the target resources, e.g. batch systems or file systems.

  For more information about UNICORE visit https://www.unicore.eu

Full manual

 * {{{./unicorex-manual.html}HTML format}} 

 * {{{./unicorex-manual.pdf}PDF format}} 

Other resources

 * {{{http://sourceforge.net/p/unicore/wiki/FAQ}Frequently asked questions}}

 * {{{http://sourceforge.net/p/unicore/issues}Issue tracker}}

