# USE configuration file
$include.CONTAINER src/test/resources/container.properties


# TSI to use
coreServices.targetsystemfactory.tsiMode=embedded

# include XNJS/TSI properties
$include.XNJS src/test/resources/xnjs.properties

# site name
container.sitename=TEST

#skip selfcheck
container.onstartupSelftest=false

#
# Shared storage config
#
coreServices.sms.share.enabledShares=WORK

coreServices.sms.share.WORK.name=WORK
coreServices.sms.share.WORK.type=FIXEDPATH
coreServices.sms.share.WORK.path=target/data/teststorage
coreServices.sms.share.WORK.description=Shared WORK

coreServices.sms.enabledFactories=DEFAULT

#
# define default storage backend
#
coreServices.sms.factory.DEFAULT.type=FIXEDPATH
coreServices.sms.factory.DEFAULT.path=target/unicorex-test
coreServices.sms.factory.DEFAULT.description=Default storage type

#
# Metadata manager settings
#
#simple old extension parser is: eu.unicore.uas.metadata.ExtensionParser (default)
coreServices.metadata.managerClass=eu.unicore.uas.metadata.LuceneMetadataManager
coreServices.metadata.parserClass=org.apache.tika.parser.AutoDetectParser

#
# Authentication / authorisation
#

container.security.rest.authentication.order=FILE
container.security.rest.authentication.FILE.class=eu.unicore.services.rest.security.FilebasedAuthenticator
container.security.rest.authentication.FILE.file=src/test/resources/user-authfile.txt

container.security.attributes.order=FILE
container.security.attributes.FILE.class=eu.unicore.services.aip.file.FileAttributeSource
container.security.attributes.FILE.file=src/test/resources/user-mapfile.json
container.security.attributes.FILE.matching=strict
