name: Unit tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      run: mvn -B package -Pcode-coverage
    - uses: actions/upload-artifact@v4
      with:
        name: code-coverage-report
        path: unicorex-dist/target/site/jacoco-aggregate/**

